#gameWindow{
    margin: auto;
    width: 930px;
    height: 930px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(173, 173, 173);
    border: 1px solid darkblue;
}
.gameCard{
    width: 300px;
    height: 300px;
    margin: 4px;
    background-color: teal;
    border: 1px solid rgb(174, 202, 119);
}
.gameCard:hover{
    cursor: pointer;
}

#victoryWindow{
    width: 100px;
    padding: 100px;
    margin: auto;
    display: none;
    font-size: 25px;
    text-align: center;
}